.text-img{
    margin: 6rem 1rem;

    .text{
        margin-bottom: 2rem;
        h1{
            font-size: $f-6;
            font-weight: 800;
            text-align: center;
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 1.5rem;
            color: $grey;
            font-size: $f-3;
            line-height: 1.9rem;
        }
    }

    .images{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        border-radius: 5px;
        img{
            border-radius: 5px;
            box-shadow: $shadow-1;
        }
    }

    @include mq("md-5"){

        .text{
            h1{
                font-size: $f-8;
            }
        }
        .images{

        }
    }

    @include mq("md-6"){

        .text{
            h1{
                font-size: $f-10;
                margin-bottom: 3rem;
            }
        }
        .images{
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    @include mq("lg"){
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 6rem;
        margin-top: 6rem;
        max-width: 1200px;
        .text{
            margin-left: 2rem;
        }
        .images{
            margin-top: 3rem;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .img1{
                width: 100%;
                border-radius: 0;
            }
            .img2{
                border-radius: 0;
            }
        }
    }

}